.layout__imgs-container
{
    width: 70%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

    .tittle__h1-container, .tittle__h3-container, .tittle__h4-container
    {
        display: table;
        margin: auto;
    }
        .tittle__h1-container .tittle__h1, .tittle__h3-container .tittle__h3, .tittle__h4-container .tittle__h4
        {
            position: relative;
        }

            .tittle__h1-container span, .tittle__h3-container span, .tittle__h4-container span
            {
                position: absolute;
                right: 0;
                width: 0;
                background: #fcf9ee;

                animation: aparecer 2s ease;
            }

    .layout__imgs-container .tittle__h4
    {
        position: absolute;
        left: -6px;
        top: 57px;
        transform: rotate(270deg);
    }

    .layout__img
    {
        width: 30.33%;
        height: 60vh;
        margin-right: 7px;
        object-fit: cover;
        object-position: 50% 50%;
    }

@keyframes aparecer {
    from
    {
        width: 100%;
    }    
    to
    {
        width: 0;
    }
}        
    

@media screen and (max-width: 1000px) {
    

        .layout__imgs-container .tittle__h1
        {
            font-size: 18px;
        }

        .layout__imgs-container .tittle__h3
        {
            font-size: 13px;
        }

        .layout__imgs-container .tittle__h4
        {
            
            top: 63px;
            left: -13px;
        }

    .layout__imgs-container
    {
        width: 90%;
    }

        .layout__img
        {
            width: 45%;
        }

        .layout__img:first-of-type
        {
            display: none;
        }
}