.information-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;    
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
}

    .information__text-container
    {
        width: 60%;
        padding: 20px;
        text-align: center;
        font-size: 14px;
        font-style: italic;
        color: #14604483;
        float: left;
    }

    .information__video-container
    {
        display: flex;
        align-items: center;
        width: auto;
        margin-top: -20px;
    }

        .information__video
        {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            clip-path: circle(20%);
            transition: clip-path .4s ease;
        }

            .information__video:hover
            {
                clip-path: circle(40%);
            }  

            .information__video:active
            {
                clip-path: circle(42%);
            } 

                .information__video video
                {
                    width: 200px;
                }
        
        .information__video-text
        {
            position: relative;
            left: -25px;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 12px;
            color: #e5815d;
            transition: color 2s 0.2s;
        } 
        
        /*
        .information__video-text::before
        {
            Podemos poner attr para poner en content algun atributo de un elemento, por
            ejemplo si creamos el atributo ver con Ver video, podemos decir en content
            que queremos que se muestre lo que pone en el atributo ver.
            content: attr(ver);
        }*/

        .information__video:hover ~ .information__video-text span
        {
            color: #2e8163;
            transition: color .8s ease;
        }

        .information__video:active ~ .information__video-text span
        {
            color: #14604483;
        }

        .show-video
        {
            width: 50vw;
            height: 50vh;
            margin: 30px auto;
            border: 4px solid #fff;
            outline: 5px solid #e5815d;
            border-radius: 3px;
        }

    @media screen and (max-width: 1000px) 
    {
        .divider
        {
            width: 80%;
        }

        .divider::before, .divider::after
        {
            width: 26%;
        }

            .divider .tittle__h1
            {
                font-size: 15px;
                padding: 0;
            }

        .information__text-container
        {
            width: 100%;
        }
    }