/*Primero se definen las variables que queremos modificar*/


//////////////////////////////////////////////////////////
///// //////  PATRONES DE COLORES             ///// ////// 
//////////////////////////////////////////////////////////
$tittle1: #e5815d;
$tittle2: #14604483;
$logoh6: #40a983;
$hover1: #cf6640;
$hover2: #BF8069;
$active1: #7a5142;
$links1: #14604483;
$links2: #146044ba;
$border1: #ecb5a1;
$colour-background-stripes: #ceede2;


//////////////////////////////////////////////////////////
///// //////  MODIFICAR VARIABLES CARD        ///// ////// 
//////////////////////////////////////////////////////////
$card-border-radius: 0;
$card-inner-border-radius: 0;
$card-height: 40vh;
$card-color: $links1;

// IMPORTAMOS LOS ESTILOS DE BOOTSTRAP
@import "../../bootstrap-5.1.3/scss/bootstrap.scss";






//////////////////////////////////////////////////////////
///// //////                CARD              ///// ////// 
//////////////////////////////////////////////////////////


//SI QUEREMOS PERSONALIZARLOS CON MÁS PROFUNDIDAD, LLAMAMOS A LA CLASE QUE QUEREMOS CAMBIAR
.card
{
    position: relative;
    background: repeating-linear-gradient(-24deg,transparent,transparent 4px, $colour-background-stripes 0, $colour-background-stripes 5px);
    border-color: $colour-background-stripes;
    .card-body
    {
        width: 100%;
        border: 1px solid $border1;
        background: #fcf9ee;
        position: relative;
        left: 10px;
        top: 10px;
        h1
        {
            font-size: 32px;
            letter-spacing: .8px;
            border-bottom: 2px solid $tittle1;
            color: $tittle1;
        }
    
        p
        {
            margin-top: 15px;
            font-size: 15px;
            text-align: justify;
            overflow: hidden;
    
            span 
            {
                display: block;
                text-align: center;

                a
                {
                    font-size: 25px;
                    font-weight: 600;
                    text-decoration: none;
                    color: $card-color;

                    &:hover
                    {
                        color: $hover2;
                        
                        
                    }
                    
                    &:active
                    {
                        color: $active1;
                    }
                }               
            }
        }
    
        .release-container
        {
            display: flex;
            justify-content: space-between;
            font-size: 10px;
            color: $hover2;
        }
        
        &:hover
        {
            transform: translateY(-5px);
            box-shadow: 0 25px 20px -15px #0000004d;
        }
    }   
}  

.news-container
{
    .row:nth-of-type(2)
    {
        text-align: end;
        padding: 0;
        a
        {            
            font-size: 30px;
            color: $tittle1;
        }
    }
}


@media screen and (max-width: 1000px) {
    .news-container
    {
        width: 100%;
    }

    .row
    {
        justify-content: center;
    }
}
