/*Primero se definen las variables que queremos modificar*/


//////////////////////////////////////////////////////////
///// //////  PATRONES DE COLORES             ///// ////// 
//////////////////////////////////////////////////////////
$tittle1: #e5815d;
$tittle2: #14604483;
$color1: #e1a48e;
$logoh6: #40a983;
$hover1: #cf6640;
$hover2: #BF8069;
$hover3: #c1ded3b6;
$active1: #7a5142;
$links1: #14604483;
$links2: #146044ba;
$border1: #ecb5a1;
$border2: #8dbbaa;
$border3: #ecb5a1c3;
$border4: #6aa38e6b;
$background1: #8dbbaa71;
$background2: #8dbbaa9d;
$background3: #c1ded380;
$profession: #8b9692ea;
$colour-background-stripes: #ceede2;
$naranja1: #db945c;
$naranja2: #fbb46e;
$naranja3: #f5aa6e;
$marron1: #b27349;
$marron2: #c18356;
$marron3: #ebb285;
$marron4: #f6dbc6d4;
$marron5: #db9362;
$marron6: #ebbc97dd;
$blroto: #fbd8ae;



//////////////////////////////////////////////////////////
///// //////  MODIFICAR VARIABLES CARD        ///// ////// 
//////////////////////////////////////////////////////////
$card-border-radius: 0;
$card-inner-border-radius: 0;
$card-height: 320px;
$card-color: $links1;





//////////////////////////////////////////////////////////
///// //////  PATRONES DE FORM-CONTROL INPUT  ///// ////// 
//////////////////////////////////////////////////////////
$input-font-size: 12px;





//////////////////////////////////////////////////////////
///// //////  INPUT GROUP TEXT               ///// ////// 
//////////////////////////////////////////////////////////
$input-group-addon-color: $tittle1;
$input-group-addon-bg: transparent;
$input-group-addon-border-color: $border3;






//////////////////////////////////////////////////////////
///// //////  MODAL                           ///// ////// 
//////////////////////////////////////////////////////////
$modal-content-bg: transparent;
$modal-content-border-color: transparent;






// IMPORTAMOS LOS ESTILOS DE BOOTSTRAP
@import "../../bootstrap-5.1.3/scss/bootstrap.scss";


/*      FUENTES         */
@font-face {
    font-family: Haloha;
    src: url('../fonts/Haloha/Haloha.ttf'), url('../fonts/Haloha/Haloha.otf'), url('../fonts/Haloha/Haloha.woff'),
        url('../fonts/Haloha/Haloha.woff2');
}


.img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 50% 50%;
}



//////////////////////////////////////////////////////////
///// //////                CARD              ///// ////// 
//////////////////////////////////////////////////////////


//SI QUEREMOS PERSONALIZARLOS CON MÁS PROFUNDIDAD, LLAMAMOS A LA CLASE QUE QUEREMOS CAMBIAR
.card {
    position: relative;
    background: repeating-linear-gradient(-24deg, transparent, transparent 4px, $colour-background-stripes 0, $colour-background-stripes 5px);
    border-color: $colour-background-stripes;

    .card-body {
        width: 100%;
        border: 1px solid $border1;
        background: #fcf9ee;
        position: relative;
        left: 10px;
        top: 10px;

        h1 {
            font-size: 32px;
            letter-spacing: .8px;
            border-bottom: 2px solid $tittle1;
            color: $tittle1;
        }

        p {
            margin-top: 15px;
            font-size: 15px;
            text-align: justify;
            overflow: hidden;

            span {
                display: block;
                text-align: center;

                a {
                    font-size: 25px;
                    font-weight: 600;
                    text-decoration: none;
                    color: $card-color;

                    &:hover {
                        color: $hover2;


                    }

                    &:active {
                        color: $active1;
                    }
                }
            }
        }

        .release-container {
            display: flex;
            justify-content: space-between;
            font-size: 10px;
            color: $hover2;
        }

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 25px 20px -15px #0000004d;
        }
    }
}

.news-container {
    margin-bottom: 50px;

    .row:nth-of-type(2) {
        text-align: end;
        padding: 0;

        a {
            font-size: 30px;
            color: $tittle1;
        }
    }
}


@media screen and (max-width: 1000px) {
    .news-container {
        width: 100%;
    }

    .row {
        justify-content: center;
    }
}






//////////////////////////////////////////////////////////
////////////   PARA EL FORMULARIO DE CONTACTAR   /////////
//////////////////////////////////////////////////////////
.section-container {
    .tittle-contact__h1 {
        font-size: 3.5em;
        font-family: 'Haloha';
        font-weight: 600;
        font-style: normal;
        letter-spacing: .2px;
        text-align: center;
        text-transform: capitalize;
        color: $tittle1;
        margin: 30px 0;
    }

    .information__text-container {
        padding: 0;
    }

    .contact__ul {
        list-style-type: none;
        font-size: 12px;
        color: $links1;

        li {
            .tittle-contact__h4 {
                font-size: 13px;
                letter-spacing: .2em;
                color: $tittle1;
                margin-top: 50px;
            }
        }
    }

    .contact__form {
        width: 40%;

        form {
            position: relative;
            width: 100%;
            margin: 0;
            border: 1px solid $border3;
            border-radius: 4px;

            .form-control,
            button {
                width: 100%;
                padding: 10px;

                font-size: 12px;
                color: $links1;

                background: transparent;

                border: none;
                border-bottom: 1px solid $border3;
                border-radius: 0;

                transition: all 0.3s ease-in-out;

                &::placeholder {
                    color: $links1;
                }

                &:focus {
                    box-shadow: none;
                    outline: none;
                }

                &:hover {
                    color: #fff;

                    background-color: $background1;

                    &::placeholder {
                        color: #fff;
                    }
                }
            }

            textarea {
                resize: none;
            }

            button {
                text-transform: uppercase;

                border-bottom: none;

                &:active {
                    background: $background2;
                }
            }

            .input-group {
                .input-group-text {
                    border-top: none;
                    border-left: none;
                    border-radius: 0;
                }


                .form-control {
                    width: auto;

                }
            }
        }




        ///PROVISIONAL
        .mapa {
            width: 70%;

            iframe {
                width: 100%;
            }
        }
    }

}

@media screen and (max-width: 1000px) {

    .section-container {
        .contact__form {
            width: 90%;
        }
    }

}












/////////////////////////////////////////////////////////////
/////////////       GALERIA                           //////
///////////////////////////////////////////////////////////

.gallery-container {
    position: relative;

    .gallery-background {
        width: 100%;
        height: 350px;

        margin: 0;

        //Tengo que buscar algun color de fondo que me guste porque por ahora este es un NO
        background: #caebcd;

        position: absolute;
        z-index: 1;
    }

    .tittle-contact__h1 {
        color: #fff;

        margin: 0;
        padding: 20px 0;

        font-size: 65px;

        position: relative;
        z-index: 5;
    }

    .gallery__p {
        width: 80%;

        margin: 0 auto;

        font-style: italic;
        font-size: 14px;
        text-align: center;
        color: rgb(255, 251, 251);

        position: relative;
        z-index: 5;
    }

    .gallery-imgs-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;

        gap: 20px;

        width: 100%;

        margin: 50px 0;

        position: relative;

        z-index: 5;

        .img-container {
            position: relative;

            z-index: 0;

            cursor: pointer;

            .img-content {
                display: none;
                width: 100%;

                background: white;

                box-shadow: 2px 2px 5px #00000037;

                padding: 5px;

                .img-tittle__h2 {
                    font-size: 25px;
                    color: $border1;
                }

                .img-tittle__h3 {
                    font-size: 13px;
                    letter-spacing: .2 px;
                    color: $links1;
                }

            }

            .img-content-hover {
                display: none;
                width: 50%;
                height: fit-content;

                background: #ffffffd7;

                box-shadow: 2px 2px 10px #00000050;

                padding: 5px;
                margin: auto;

                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

                z-index: 1000;

                .img-tittle__h2 {
                    font-size: 14px;
                    font-weight: 600;
                    color: $border1;
                }

                .img-tittle__h3 {
                    font-size: 10px;
                    color: $links1;
                    letter-spacing: .5px;
                }
            }

            img {
                @extend .img;
                height: 230px;

                transition: all .4s ease-in-out;

                cursor: zoom-in;

                &:hover {
                    //Transform: scale modifica el tamaño de un elemento en un plano 2D
                    transform: scale(1.025);
                }
            }

            &:hover .img-content-hover {
                display: inline-block;
            }
        }
    }

    .modal {
        .modal-dialog {
            width: 466px;
            height: 651px;

            .modal-content {
                width: 100%;
                height: 100%;

                .modal-body {
                    width: 100%;
                    height: 100%;

                    .modal-img-container {
                        width: 100%;
                        height: 100%;

                        img {
                            @extend .img;
                        }
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 764px) {
    .gallery-container {
        .gallery-imgs-container {

            .img-container {
                width: 90%;
                margin: 0 auto;

                &:hover .img-content {
                    //Transform: scale modifica el tamaño de un elemento en un plano 2D
                    transform: scale(1.025);
                }

                .img-content {
                    display: inline-block;
                    transition: all .4s ease-in-out;


                }

                &:hover .img-content-hover {
                    display: none;
                }
            }

        }

        /////////////////////////////////////////////////////////////////
        /////////////////////////////////////////////////////////////////
        ///////////    PEDIR AYUDA A ANTONIO                ////////////
        .modal {
            display: flex;
            justify-content: center;
            align-items: center;

            .modal-dialog {
                width: 266px;
                height: 451px;
            }
        }
    }
}











/////////////////////////////////////////////////////////////
/////////////       APARTADO DE NOTICIAS              //////
///////////////////////////////////////////////////////////
.news__h1 {
    font-size: 3.5em;
    font-family: 'Haloha';
    font-weight: 600;
    font-style: normal;
    letter-spacing: .2px;
    text-align: center;
    text-transform: capitalize;
    color: $tittle1;
    margin: 30px 0;
}

.news-layout {
    display: flex;
    flex-wrap: wrap;

    padding: 0 10px 10px;

    .news-column {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 20%;

        border-right: 1px solid $border1;

        overflow: hidden;


        .news-article {
            margin: 0 15px 15px;

            .news__h2 {
                font-size: 34px;
            }

            .news__h3 {
                font-size: 25px;
            }

            .news__h2,
            .news__h3 {
                margin-bottom: 10px;

                line-height: 1.1em;

                .news__a {
                    text-decoration: none;
                    color: $tittle1;
                }
            }

            .news__img-container,
            .news__img-container-mini {
                width: 100%;
                height: 350px;

                margin-bottom: 10px;

                img {
                    @extend .img;
                }
            }

            .news__img-container-mini {
                height: 150px;
            }

            .news-content__container {
                font-size: 14px;
                text-align: justify;
                color: $links1;

                hyphens: auto;

                .news__p+.news__p {
                    margin-bottom: 20px;
                }
            }

            .news__author {
                display: flex;
                flex-wrap: wrap;

                height: fit-content;

                align-items: center;

                .author__img-container {
                    width: 40px;
                    height: 40px;

                    margin-right: 7px;

                    .author__img {
                        @extend .img;
                        object-position: 60% 50%;
                    }

                }

                .author-info {
                    font-size: 12px;
                    font-weight: 400;
                    letter-spacing: .5px;
                    color: $border1;

                    .author-porfession {
                        font-size: 10px;
                        font-weight: 300;
                        color: $profession;
                    }
                }
            }
        }

        //Como queremos que tras cada articulo haya una linea en caso de que haya otro 
        //articulo debajo, podemos usar el selector + para indicar que solo auqellos articulos
        //que vayan detras de otro articulo tengan un border-top
        .news-article+.news-article {
            padding-top: 10px;

            border-top: 1px solid $border1;
        }

        &:nth-of-type(2) {
            width: 40%;
        }

        &:last-of-type {
            border-right: none;
        }
    }
}

@media screen and (max-width: 1100px) {

    .news-layout {
        flex-direction: column;

        flex-wrap: wrap;

        .news-column {
            width: 100%;

            border-right: none;

            .news-article {

                .news__img-container,
                .news__img-container-mini {
                    height: 350px;
                }
            }
        }

        .news-column:nth-of-type(2) {
            width: 100%;
        }
    }

}










/////////////////////////////////////////////////////////////
/////////////       MODELO NOTICA                     //////
///////////////////////////////////////////////////////////
.news-body-container {
    display: flex;
    flex-direction: column;

    width: 70%;

    margin: 0 auto;

    .news__h1 {
        border-top: 2px solid $border1;
        border-bottom: 3px double $border1;

        margin-top: 40px;
        margin-bottom: 0;

        padding: 12px 0;

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;

        letter-spacing: .8px;
    }

    .news__cite {
        border-bottom: 3px double $border1;

        margin-bottom: 20px;
        padding: 10px 60px;

        text-align: center;
        color: $links2;
    }

    .img__cite {
        margin-top: 5px;
        margin-left: auto;

        font-size: 10px;
        color: $border1;
    }

    .news__img {

        @extend .img;
        height: 450px;
    }

    .news__body {
        display: flex;
        align-items: flex-start;
        gap: 15px;

        width: 100%;

        margin-left: auto;

        position: relative;

        .news__aside {
            width: 18%;

            margin-top: 14%;

            position: relative;

            font-size: 12px;
            font-style: italic;
            font-weight: 500;
            text-align: right;
            color: $border1;

            &::first-letter {
                font-size: 25px;
                font-weight: 600;
            }
        }

        .news__p-container {
            width: 80%;

            .news__p {
                margin-top: 20px;

                font-size: 14px;
                text-align: justify;
                color: $links1;

                hyphens: auto;
            }

        }
    }
}

@media screen and (max-width: 1000px) {

    .news-body-container {
        width: 100%;

        padding: 0 20px;

        overflow: hidden;

        .news__h1 {
            font-size: 2.5em;
        }

        .news__cite {
            padding: 10px 0;

            font-size: 13px;
        }

        .news__img {
            height: 300px;
        }

        .img__cite {
            font-size: 8px;
        }

        .news__body {
            .news__aside {
                font-size: 10px;

                &::first-letter {
                    font-size: 15px;
                }
            }

            .news__p-container {
                .news__p {
                    font-size: 12px;
                }
            }
        }
    }

}










/////////////////////////////////////////////////////////////
/////////////       SECTION PAGE                      //////
///////////////////////////////////////////////////////////


.section-page-container {
    display: flex;
    align-items: center;

    width: 70%;

    margin: 0 auto;
    margin-bottom: 70px;

    .section-page__img-container {
        width: 40%;
        height: 450px;


        position: relative;

        .section-page__img {

            @extend .img;

            display: none;

            position: relative;

        }

        .active {
            display: block;
        }

        .section-page__img-options {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 49px;
            height: 150px;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: -23.5px;

            background: repeating-linear-gradient(-24deg, transparent, #b4e4d3 4px, #a6dec9d4 0, #fff 5px);

            position: absolute;

            top: 0;
            bottom: 0;

            z-index: 10;

            i {
                font-size: 13px;
                color: #71cbaa;

                cursor: pointer;

                &:hover {
                    color: $links1;
                }

                &:active {
                    color: $links2;
                }
            }

            i+i {
                margin-top: 15px;
            }
        }

        .section-page__a-container {
            background: repeating-linear-gradient(-24deg, transparent, #b4e4d3 4px, #a6dec9d4 0, #fff 5px);

            padding: 10px;

            position: absolute;
            right: -20px;
            bottom: -20px;
            z-index: 10;

            a {
                font-size: 20px;
                text-decoration: none;
                color: #71cbaa;

                cursor: pointer;

                &:hover {
                    color: $links1;
                }

                &:active {
                    color: $links2;
                }
            }
        }
    }


    .section-page__content-container {
        width: 60%;
        margin-left: 30px;

        .section-page__h1 {
            color: $links1;

            .section-page-course {
                background: $border1;
            }

        }

        .section-page__p {
            padding-left: 5px;

            border-left: 4px solid $links1;

            font-size: 13px;
            text-align: justify;
            color: $color1;

            hyphens: auto;
        }
    }

    &:nth-of-type(even) {
        flex-direction: row-reverse;

        .section-page__content-container {
            margin-left: 0;
            margin-right: 30px;
        }

    }
}

@media screen and (max-width: 1000px) {

    .section-page-container {
        width: 90%;

        flex-wrap: wrap;

        .section-page__img-container {
            width: 50%;
            height: 340px;
        }

        .section-page__content-container {
            width: 40%;

            overflow: hidden;

            .section-page__h1 {
                font-size: 27px;
            }
        }
    }

}

@media screen and (max-width: 650px) {

    .section-page-container {
        justify-content: center;

        width: 100%;

        padding: 0 30px;
        margin-bottom: 40px;

        flex-wrap: wrap;

        .section-page__img-container {
            width: 100%;
            height: 240px;
        }

        .section-page__content-container {
            width: 100%;

            margin-left: 0;

            overflow: hidden;

            .section-page__h1 {
                font-size: 27px;
            }

            .section-page__p {
                font-size: 12px;
            }
        }
    }

}












/////////////////////////////////////////////////////////////
/////////////       FAQ                               //////
///////////////////////////////////////////////////////////
.faq-container {
    display: flex;
    flex-wrap: wrap;

    width: 70%;

    margin: 0 auto;
    padding: 20px;

    position: relative;

    .faq__h1-container {
        width: 100%;
        padding: 0 20px;

        .faq__h1 {
            padding: 20px 0;

            border-top: 3px double $border1;
            border-bottom: 3px double $border1;

            font-family: 'Haloha';
            font-size: 55px;
            font-weight: 600;
            text-align: center;
            color: $tittle1;
        }
    }


    .faq-options-container {
        width: 20%;
        height: 100%;

        padding-top: 20px;

        position: sticky;
        top: 70px;

        .faq__ul {
            border-right: 1px solid $border1;

            list-style-type: none;

            text-align: right;

            h5 {
                display: none;
            }

            .faq__li {
                padding: 10px;
                padding-right: 20px;

                font-size: 16px;

                .faq__a {
                    text-decoration: none;
                    color: $links1;


                }

                &:hover {
                    background: $hover3;
                }
            }
        }
    }

    .faq-questions-container {
        width: 80%;

        .faq-group {
            padding: 20px;

            list-style-type: none;

            text-align: justify;
            hyphens: auto;

            .faq__h5 {
                text-transform: uppercase;
                color: $tittle1;
            }

            .faq-question-container {

                .faq-trigger {
                    width: 100%;

                    padding: 10px 5px;
                    padding-left: 0;
                    margin-bottom: 0;

                    position: relative;

                    font-size: 14px;
                    color: $border1;

                    cursor: pointer;

                    &::after {
                        content: "\2BC8";

                        padding: 10px 0;

                        float: right;

                        font-size: 15px;
                        line-height: 0;
                        color: $links1;

                        transition: transform .2s linear;
                    }

                    &.open::after {
                        transform: rotate(90deg);
                    }
                }

                .faq-content {
                    display: none;

                    background: $background3;

                    padding: 20px;

                    border-top: 1px solid $border3;

                    font-size: 12px;
                    color: rgb(139, 137, 137);

                    p {
                        margin: 0;
                    }
                }
            }

            .faq-question-container+.faq-question-container {
                border-top: 1px solid #6f6f6f21;
            }



        }
    }
}

@media screen and (max-width: 950px) {
    .faq-container {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .faq-container {
        flex-direction: column;
        flex-wrap: wrap;

        width: 100%;

        .faq-options-container {
            width: 100%;

            padding: 20px;
            padding-bottom: 0;

            position: relative;
            top: 0;

            .faq__ul {
                border-right: none;

                h5 {
                    display: block;

                    margin-bottom: 0;

                    border-bottom: 1px solid $border1;

                    text-align: justify;
                    text-transform: uppercase;
                    color: $tittle1;
                }

                .faq__li {
                    display: block;

                    text-align: left;
                    padding-left: 0;
                }
            }
        }

        .faq-questions-container {
            width: 100%;
        }

    }
}















/////////////////////////////////////////////////////////////
/////////////       COURSE                            //////
///////////////////////////////////////////////////////////
.c__h4 {
    font-weight: 800;
    letter-spacing: .1px;
    text-transform: uppercase;
    color: $marron1;
}

.circle {
    width: 200px;
    height: 200px;

    border: 10px double $marron3;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 100%;
    /* background: #fdf5e4ab; */
    position: absolute;

    div {
        width: 100px;
        height: 100px;
        /* border: 2px solid #fff; */
        border-radius: 100%;
        background: #ebb285;
        margin: 10px;
    }
}

.circle-2 {
    @extend .circle;
    border-color: $border4;
    border-width: 8px;

    div {
        background: $marron3;
        position: absolute;
    }

    .mini {
        width: 20px;
        height: 20px;

        background: $marron3;

        right: 0;

        &:nth-last-of-type(2) {
            background: $marron4;

            right: 50px;
            top: 100px;
        }

        &:last-of-type {
            left: 0;
            bottom: 0;
        }
    }
}

.course-container {
    width: 100%;

    background: linear-gradient(to bottom, $naranja1 0, $naranja1 350px, transparent 350px, transparent 100%);

    position: relative;

    .course-content-container {
        width: 70%;

        margin: 0 auto;

        position: relative;
        z-index: 1;

        .tittle-contact__h1 {
            color: #fff;

            margin: 0;
            margin-right: 40%;
            padding: 20px 0;

            font-size: 65px;
            text-transform: none;

            position: relative;
            top: 60px;

            span {
                margin-left: 40%;
            }
        }

        .course-img__container {
            width: 250px;

            margin-left: 20px;
            margin-top: -40px;

            float: right;

            position: relative;
            right: 0;
            z-index: 1;

            .course__img {
                border: 2px solid $marron3;
                border-top-left-radius: 40%;
                border-bottom-right-radius: 40%;

                object-fit: cover;
                object-position: 50% 50%;
            }
        }

        .course__p {
            font-size: 13px;
            text-align: justify;
            color: $active1;
            hyphens: auto;
        }

        .course__p:first-of-type {
            margin-top: 60px;
        }

        .course-info-container {
            display: flex;

            width: 100%;

            margin-bottom: 40px;

            .course-requirements,
            .course-acquire {
                .course__h4 {
                    margin-top: 0;
                }

                width: 50%;

                .course__ul {
                    list-style-type: none;
                    position: relative;

                    .course__li {
                        font-size: 13px;
                        color: $active1;

                        &::before {
                            content: "\01D111";

                            box-sizing: content-box;

                            font-size: 20px;
                            font-weight: 800;
                            color: $links1;

                            margin-top: -5px;
                            margin-right: 5px;

                            position: relative;
                            top: -5px;
                        }
                    }

                    .course__li+.course__li {
                        margin-top: 10px;
                    }
                }
            }

            div+div {
                border-left: 2px solid $marron3;
                padding-left: 20px;
            }
        }

        .course-include {
            background: $marron4;

            margin-top: 30px;
            padding: 25px;

            border: 2px solid $marron3;

            border-top-right-radius: 100px;
            border-bottom-left-radius: 100px;

            position: relative;

            .course__h4 {
                margin-top: 0;
                position: absolute;
                top: -17px;
            }

            .course__h5 {
                font-size: 17px;
                font-weight: 600;
                color: $links1;

                &::before {
                    content: "\263C";

                    margin-right: 5px;

                    font-size: 15px;
                    font-weight: 700;
                    color: $marron1;

                    float: left;
                }
            }

            .course__p {
                font-size: 13px;
                color: $marron2;
            }

            .course__p:first-of-type {
                margin-top: 0;
            }
        }

        .course__h4 {
            @extend .c__h4;

            margin-top: 40px;
        }

        .carousel {
            width: 70%;
            height: 325px;

            margin: 0 auto;

            box-shadow: 5px 6px 5px #eebb9290;

            .carousel-inner {
                width: 100%;
                height: 100%;

                .carousel-item {
                    width: 100%;
                    height: 100%;

                    img {
                        @extend .img;
                    }
                }
            }
        }

        .course__table {
            width: 100%;

            border-collapse: collapse;

            overflow: hidden;

            th,
            td {
                width: 50px;

                padding: 10px;

                text-align: center;
                hyphens: auto;
            }

            thead {
                color: #fff;

                th {
                    background: $naranja1;

                    font-size: 13px;
                    text-transform: uppercase;
                }

                th+th {
                    border-left: 2px solid #fff;
                }
            }

            tbody {
                tr {
                    &:hover {
                        background-color: $marron1;

                        &>.course__td {
                            color: #fff;
                        }
                    }

                    &:first-of-type {
                        border-top: 2px solid #fff;
                    }

                    &:nth-of-type(4) {
                        border-bottom: 2px solid #fff;
                    }

                    &:nth-of-type(8) {
                        border-bottom: 2px solid #fff;
                    }
                }

                .course__td {
                    background: $marron4;

                    font-size: 13px;
                    color: $marron2;
                }

                .course__td+.course__td {
                    border-left: 2px solid #fff;
                }

                .course__th {
                    background: #c9e6e6;

                    border-right: 2px solid #fff;

                    color: #fff;
                }

                tr>.course__th {
                    border-bottom: 2px solid #fff;
                }
            }

            &:last-of-type {
                margin-bottom: 40px;
            }
        }

        .course-info__container {
            display: none;

            .course__h6 {
                margin-left: 20px;
                margin-bottom: 0;

                border-bottom: 1px solid $border1;

                color: $links1;

                cursor: pointer;

                &::before {
                    content: "\01D111";

                    box-sizing: content-box;

                    font-size: 20px;
                    font-weight: 800;
                    color: $border1;

                    margin-top: -5px;
                    margin-right: 5px;

                    position: relative;
                    top: -5px;
                }

                &:last-of-type {
                    margin-bottom: 30px;
                }
            }

            .course__ul {
                display: none;

                position: relative;

                margin-left: 20px;

                list-style-type: none;

                .course__li {
                    background: $marron4;

                    padding: 10px;

                    font-size: 13px;
                    color: $active1;

                    position: relative;

                    .course__span {
                        display: block;

                        padding: 5px 0;


                        &::before {
                            content: "\01D10E";

                            margin-left: 5px;
                            margin-right: 5px;

                            font-size: 15px;
                            font-weight: 800;

                            position: relative;
                            top: 3.5px;
                        }
                    }
                }

                .course__li:nth-of-type(even) {
                    background: $marron6;

                    color: $marron2;

                    .course__span {
                        &::before {
                            color: inherit;
                        }
                    }
                }

                .course__li+.course__li {
                    border-top: 1px solid $border1;
                }

                &:last-of-type {
                    margin-bottom: 30px;
                }
            }

        }
    }
}

@media screen and (max-width: 1300px) {

    .course-container {
        .course-content-container {
            .course-img__container {
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {

    .course-container {
        .course-content-container {
            .course-img__container {
                margin-top: 40px;
            }

            .carousel {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1000px) {

    .course-container {
        .course-content-container {
            .course-img__container {
                margin-top: 60px;
            }

            .course__table {
                display: none;
            }

            .course-info__container {
                display: block;
            }
        }
    }
}


@media screen and (max-width: 700px) {

    .c__h4 {
        font-size: 13px;
    }

    .course-container {
        .course-content-container {
            .tittle-contact__h1 {
                font-size: 55px;

                span {
                    margin-left: 0;
                    font-size: 35px;
                }
            }

            .course-img__container {
                width: 100%;

                margin: 80px 0;
                margin-bottom: 40px;

                text-align: center;
            }

        }
    }
}

@media screen and (max-width: 600px) {

    .course-container {

        .course-content-container {
            .tittle-contact__h1 {
                font-size: 45px;
                top: 30px;
                margin-right: 0;
            }

            .course-img__container {
                width: 100%;

                margin-top: 40px;
                margin-bottom: 30px;
            }
        }
    }
}










/////////////////////////////////////////////////////////////
/////////////       ACCOMMODATION                     //////
///////////////////////////////////////////////////////////
.accommodation-container {
    display: flex;
    flex-direction: column;

    width: 70%;

    margin: 30px auto;
    padding: 20px;

    .accommodation-content-container {

        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        width: 100%;

        .accommodation__h3 {
            font-weight: 800;
            text-transform: uppercase;
            color: $background2;
        }

        .accommodation__img-container {
            width: 358px;
            height: 450px;

            position: relative;

            div {
                width: 100%;
                height: 100%;

                border: 2px solid $marron3;

                border-top-left-radius: 50%;
                border-top-right-radius: 50%;

                position: absolute;
                top: 10px;
                left: 40px;

                z-index: 10;
            }

            .accommodation__img {
                @extend .img;

                border-top-left-radius: 50%;
                border-top-right-radius: 50%;

            }
        }

        .content-container {
            display: flex;
            flex-direction: column;
            justify-items: center;

            width: 50%;
            flex-grow: 1;

            margin-top: 60px;
            padding-right: 40px;

            .accommodation__h1 {
                font-size: 2.7rem;
                font-weight: 700;
                color: $background2;
            }

            .accommodation__p {
                font-size: 13px;
                color: $marron3;
                text-align: justify;
                hyphens: auto;
            }

            .accommodation-include {
                flex-grow: 1;

                margin-top: 30px;
                padding: 25px;

                .accommodation__h5 {
                    padding-left: 20px;

                    font-size: 14px;
                    font-weight: 400;
                    color: $marron3;

                    position: relative;

                    &::before {
                        content: "\01D111";


                        margin-left: 5px;
                        margin-right: 5px;

                        font-size: 15px;
                        font-weight: 700;
                        line-height: 1.618;
                        color: $links1;

                        float: left;

                        position: relative;
                        top: -7px;
                    }
                }
            }

        }


        .accommodation__carousel {
            width: 100%;

            position: relative;

            margin: 50px 0;

            >input {
                width: 0;

                padding: 0;

                position: absolute;

                &:nth-of-type(6):checked~.accommodation-carousel__ul .carousel__li-slide:last-of-type {
                    display: block;
                }

                &:nth-of-type(5):checked~.accommodation-carousel__ul .carousel__li-slide:nth-of-type(5) {
                    display: block;
                }

                &:nth-of-type(4):checked~.accommodation-carousel__ul .carousel__li-slide:nth-of-type(4) {
                    display: block
                }

                &:nth-of-type(3):checked~.accommodation-carousel__ul .carousel__li-slide:nth-of-type(3) {
                    display: block;
                }

                &:nth-of-type(2):checked~.accommodation-carousel__ul .carousel__li-slide:nth-of-type(2) {
                    display: block;
                }

                &:nth-of-type(1):checked~.accommodation-carousel__ul .carousel__li-slide:first-of-type {
                    display: block;
                }

            }

            .accommodation-carousel__ul {
                box-sizing: border-box;

                display: flex;
                flex-wrap: wrap;

                width: 100%;

                position: relative;

                overflow: hidden;

                .carousel__li-slide {
                    display: none;

                    width: 100%;
                    height: 100%;

                    position: relative;

                    overflow: hidden;

                    .slide-container {
                        display: flex;

                        .slide__img-container {
                            width: 65%;
                            height: 340px;
                            max-width: 650px;

                            flex-grow: 1;

                            .slide__img {
                                @extend .img;

                                display: block;

                                object-position: 60% 70%;
                            }
                        }

                        .slide__caption {
                            align-self: end;
                            flex-grow: 1;

                            width: 25%;

                            padding: 10px 0 0 10px;

                            font-size: 12px;
                            text-align: justify;
                            color: $marron3;
                            hyphens: auto;

                            p {
                                margin-bottom: 0;
                            }

                            span {
                                display: inline-block;
                                width: 100%;

                                font-size: 10px;
                                font-style: italic;
                                text-align: right;
                                color: $background2;
                            }
                        }
                    }

                    &.scrollable {
                        overflow-y: scroll;
                    }

                }
            }
        }

        .accommodation-carousel__thumbnails {
            display: flex;
            list-style-type: none;

            .thumbnails__li {
                transition: all 300ms ease-in-out;

                label {
                    display: block;

                    .thumbnails__img {
                        display: block;

                        width: 150px;
                        height: 150px;

                        object-fit: cover;
                        object-position: 50% 50%;
                    }

                    &:hover,
                    &:focus {
                        cursor: pointer;

                        .thumbnails__img {
                            box-shadow: 0px 0px 0px 1px #00000037;
                            transition: all 100ms ease-in-out;
                        }
                    }
                }

                &+.thumbnails__li {
                    margin-left: 10px;
                }
            }
        }



        &:nth-of-type(even) {
            flex-direction: row;

            .accommodation__img-container {
                div {
                    height: calc(100% - 30px);

                    margin: auto 0;

                    top: 0;
                    bottom: 0;

                    border-top-right-radius: 0;
                    border-bottom-left-radius: 50%;
                }

                .accommodation__img {
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 50%;

                    position: relative;

                    z-index: 10;
                }
            }

            .content-container {
                padding-right: 0;
                padding-left: 40px;
                margin-top: 0;
            }
        }

        &+.accommodation-content-container {
            margin-top: 50px;
        }
    }
}

@media screen and (max-width: 950px) {

    .accommodation-container {
        width: 100%;

        .accommodation-content-container {
            display: flex;
            flex-direction: column;

            margin-top: 50px;

            .accommodation__img-container {
                width: 300px;
                height: 400px;
            }

            .content-container {
                width: 100%;

                padding: 0;

                .accommodation-include {
                    width: 100%;

                    padding: 0;
                }

            }


            .accommodation__carousel {
                .accommodation-carousel__ul {
                    flex-direction: column;

                    .carousel__li-slide {
                        .slide-container {
                            display: flex;
                            flex-direction: column;

                            .slide__img-container {
                                width: 100%;
                            }

                            .slide__caption {
                                width: 100%;
                                padding: 20px 0 30px;
                            }
                        }
                    }
                }
            }

            .accommodation-carousel__thumbnails {

                .thumbnails__li {

                    label {

                        .thumbnails__img {

                            width: 100px;
                            height: 70px;
                        }
                    }
                }
            }

            &:nth-of-type(even) {
                flex-direction: column;
            }
        }
    }
}


@media screen and (max-width: 600px) {

    .accommodation-container {
        .accommodation-content-container,  .accommodation-content-container:nth-last-of-type(even) {

            .accommodation__img-container {
                width: 200px;
                height: 250px;

                div 
                {
                    left: 20px;
                }
            }

            .content-container{

                padding-left: 0;

                .accommodation-include {

                    .accommodation__h5
                    {
                        padding-left: 0;

                        text-align: justify;
                        hyphens: auto;
                    }
                }
            }

            .accommodation-carousel__thumbnails {

                .thumbnails__li {

                    label {

                        .thumbnails__img {
                            height: 40px;
                        }
                    }
                }
            }
        }
    }

}